.button {
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#labelnone {
    -fx-font-family: "Times New Roman";
    -fx-font-style: italic;
    -fx-text-fill: #404040;
    -fx-font-size: 16;
}